In [18]:
import pandas as pd
from datetime import datetime

# Dataframe with complete raw data

In [40]:
df_complete = pd.read_csv('./../BDForecasting_V2/BaseVertical_V4.csv')
df_complete = df_complete[['SITE','DATES','OCCUPANCY_COUNT']]
# df_complete.columns = ['SITE','OCCUPANCY_COUNT','DATES']
df_complete

                         SITE       DATES  OCCUPANCY_COUNT
0      Am Fin. Transformation   8/31/2020                0
1            Americas Finance   8/31/2020                0
2             Capital Markets   8/31/2020                2
3                          CS   8/31/2020                0
4               CS Finance-43   8/31/2020                0
...                       ...         ...              ...
4270  Property Mgmt Office-46  12/11/2020                0
4271                 Research  12/11/2020                0
4272                     Risk  12/11/2020                0
4273                     TDIM  12/11/2020                0
4274                  Visitor  12/11/2020                1

[4275 rows x 3 columns]

# Dataframe grouped by dates (sum)

In [41]:
df_grouped_dates = df_complete.groupby(['DATES'], as_index=False).sum()

In [42]:
# df_grouped_dates.to_csv('./../BDForecasting_V2/AON_1B_vertical_grouped_dates.csv', index=False)

# Series grouped by dates (sum)

In [43]:
format_hour = '%Y-%m-%d %H:%M:%S'
format_day = '%Y-%m-%d'
format_day_aon = '%m/%d/%Y'

In [1]:
def parser(x):
    return datetime.strptime(str(x), format_hour)
series_grouped_dates = pd.read_csv('./../BDForecasting_V2/grouped_dates_BaseVertical.csv', 
                  header=0, 
                  index_col=0, 
                  parse_dates=True, 
                  squeeze=True, 
                  date_parser=parser)
series_grouped_dates.index = series_grouped_dates.index.to_period('H')

NameError: name 'pd' is not defined

# Pandas dataframe groupby sites & list of group names

In [45]:
pandas_dataframe_groupby_site = df_complete.groupby(['SITE'], as_index=False)
sites_names = list(pandas_dataframe_groupby_site.groups.keys())

In [33]:
# def cero_percentage(df):
#     df_ceros = df[df['OCCUPANCY_COUNT']==0]
#     ceros = len(df_ceros)
#     total = len(df)
#     print('ceros: ',ceros)
#     print('total: ',total)
#     print('percentage: ', ceros/total,'\n')
#     return ceros/total

In [34]:
# ceros_list = []

In [35]:
# for i, site_name in enumerate(sites_names):
#     print('index: ',i)
#     df = pandas_dataframe_groupby_site.get_group(site_name)
#     percentage = cero_percentage(df)
#     ceros_list.append(percentage)

In [46]:
site = pandas_dataframe_groupby_site.get_group(sites_names[0])['OCCUPANCY_COUNT']
site.index = series_grouped_dates.index

In [12]:
%store df_complete
%store df_grouped_dates
%store series_grouped_dates
%store pandas_dataframe_groupby_site
%store sites_names

Stored 'df_complete' (DataFrame)
Stored 'df_grouped_dates' (DataFrame)
Stored 'series_grouped_dates' (Series)
Stored 'pandas_dataframe_groupby_site' (DataFrameGroupBy)
Stored 'sites_names' (list)